body {
  background-image: url(https://wallpapercave.com/wp/wp2036866.jpg);
  background-size: contain;
  margin-left: 5%;
  margin-right: 5%;
}
p,
ol,
ul {
  color: darkblue;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(173, 216, 230, 0.529);
}
h1 {
  text-align: center;
  font-size: 50px;
}
h1,
h2 {
  color: white;
  font-weight: bolder;
}
h2:nth-of-type(odd),
.different-color {
  color: red;
}
h2:nth-of-type(even) {
  color: green;
}
h2:nth-of-type(3) {
  color: grey;
}
a:visited {
  color: whitesmoke;
}
.list-1 {
  background-color: rgba(173, 216, 230, 0);
  list-style: none;
  font-weight: unset;
}
